* {
    box-sizing: border-box;
    margin: 0;
}

body{
    font-family: 'Overpass', sans-serif;
    background-color: hsl(216, 12%, 8%);
    color: hsl(0, 0%, 100%);
}

.margin-top{
    margin-top: 20px;
}

.rating-card{
    display: flex;
    flex-direction: column;
    background-color: hsl(213, 19%, 18%);
    width: 30%;
    margin: 10% auto;
    padding: 2%;
    border-radius: 25px;
}

.star-icon{
    background: hsl(212, 19%, 26%);
    border-radius: 50%;
    padding: 4%;
}

.title{
    font-size: 28px;
}

.rate-description{
    color: hsl(217, 12%, 63%);
}

.ratings{
    display: flex;
    justify-content: space-between;
}

.rating{
    background: hsl(212, 19%, 26%);
    width: 50px;
    padding: 4%;
    border-radius: 50%;
    cursor: pointer;
    text-align: center;
    transition: all 300ms ease-out;
}

.active{
    background: hsl(25, 97%, 53%);
}

.rating:hover{
    background-color: hsl(217, 12%, 63%);
    transition: all 300ms ease-out;
    
}

.btn-submit{
    width: 100%;
    background-color: hsl(25, 97%, 53%);
    border-radius: 50px;
    padding: 4%;
    text-align: center;
    transition: all 300ms ease-out;
}

.btn-submit:hover{
    background: hsl(0, 0%, 100%);
    color: hsl(25, 97%, 53%);
    cursor: pointer;
    transition: all 300ms ease-out;
}

/** END CARD **/

.end-card{
    display: none;
    flex-direction: column;
    align-items: center;
    background-color: hsl(213, 19%, 18%);
    width: 30%;
    margin: 10% auto;
    padding: 2%;
    border-radius: 25px;
}

.selected-rate{
    background-color: hsl(214, 11%, 26%);
    border-radius: 25px;
    padding: 2%;
    color: hsl(25, 97%, 53%);
}

.end-description{
    color: hsl(217, 12%, 63%);
}

.attribution{
    text-decoration: none;
}

a {
    text-decoration: none;
}

@media (max-width: 1024px){
    .rating-card{
        width: 60%;
        margin-top: 15%;
        padding: 5%;
    }

    .end-card{
        width: 60%;
        margin-top: 15%;
        padding: 5%;
    }
}

@media (max-width: 425px){
    .rating-card{
        width: 90%;
        margin-top: 30%;
        padding: 5%;
    }

    .end-card{
        width: 90%;
        margin-top: 30%;
        padding: 5%;
    }
}



